* {
    padding: 0;
    margin: 0;
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(/project/download\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.top-bar {
   
    left: 150px;
    width: 1500px;
    height: 75px;
    margin: auto;
   
    background: rgba(0,0,0,0.5);
    border: 0.5px solid orange;
    
}
.my-logo {
    width: 200px;
    float: left;
    height: 70px;
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
}
.logoinnit {
    font-size: 35px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}


.search {
    width: 400px;
    float: left;
    margin-left: 50px;
}
.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    background: white;
    border: 1px solid orange;
    margin-top: 17px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 50px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 17px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;

}
.btn:hover{
    background: rgb(245, 207, 135);
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
ul li {
    list-style: none;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: orange;
}




.content {
    width: 900px;
    height: auto;
    
    margin: auto;
    color: white;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    left: -350px;
    top: 150px;
    padding-top: 5px;
   padding-bottom: 19px;
   padding-left: 10px;
   padding-right: 10px;
   border: 0.5px solid orange;
}
.content .para {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 20px;
}
.content h1 {
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 1px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    list-style: 5px;
}
.img88 {
    width: 500px;
    height: 380px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -25px;
    left: 1100px;
    border-radius: 10px;
   padding: 10px;
    border: 0.5px solid orange;
}
.img88 a{
    text-decoration: none;
}
.jjj {
    width: 499px;
   
}
.check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 499px;
    height: 90px;
    border: 1px solid aqua;
    background: orange;
    border-radius: 10px;
    color: black;
    position: relative;
    top: 5px;
    font-size: 40px;
    font-family: 'Times New Roman';
    transition: 0.5s ease;
}
.check-btn:hover{
    background: rgb(230, 167, 52);
}
.check-btn:active{
    background-color: rgb(212, 138, 1);
}
.canva {
    color: aqua;
    font-family: Arial;
}
.canva2 {
    color: rgb(205, 175, 245);
   cursor: pointer;
    
}
.canva2 a{
    text-decoration: none;
}
.canva2 a:hover {
    color: aquamarine;
}
.canva2 a:active {
    color: rgb(205, 175, 245);
}


.mynews {
    width: 100%;
    padding: 80px 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    bottom: -400px;
}
.article{
    width: 18%;
    height: 300px;
    background: orange;
    float: left;
    margin: 0px 0.5%;
    border: 5px solid black;
}

.new-img1{
    width: 100%;
    height: 120px;
    background: black;
    background: url(/project/img/download\ \(1\).jpg);
}
.new-img2{
    width: 100%;
    height: 120px;
    background: black;
    background: url(/project/img/tapswap.jpg);
}
.new-img3{
    width: 100%;
    height: 120px;
    background: black;
    background: url(/project/img/images.jpg);
}
.new-img4{
    width: 100%;
    height: 120px;
    background: black;
    background: url(/project/img/uefa.jpg);
}
.new-img5{
    width: 100%;
    height: 120px;
    background: black;
    background: url(/project/img/TELEGRAM.png);
   
}

.mynews h3{
    font-weight: 400;
    font-family: lato;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.mynews p{
    font-weight: 400;
    font-family: lato;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;

    
}
.timeline {
    position: relative;
    bottom: -400px;

}
.timeline hr {
   border: 1px solid orange;
}

.timeline h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 60px;
}
.some-other {
    background: rgba(0, 0, 0, 0.5);
}